google-generativeai==0.8.3
langchain-google-genai==2.0.8
langchain
sqlalchemy==2.0.37
python-dotenv==1.0.1
pandas==2.2.3
sqlparse==0.5.3
mysql-connector-python==9.1.0
streamlit==1.41.1
langchain-chroma==0.2.0
plotly==5.24.1
streamlit-lottie==0.0.5
requests==2.32.3
pymysql
